.services-screen {
  background: linear-gradient(135deg, #2b0a57, #4b2bbd);
  min-height: 100vh;
padding-top: 10%;
  display: flex;
  flex-direction: column; /* فوق بعض */
  align-items: center;   /* في النص أفقي */
  justify-content: center; /* في النص عمودي */

  gap: 30px;

}

.service-card {
  width: 700px; /* كارد عريض */
  max-width: 90%; /* responsive */

  background: #4c35b5;
  border-radius: 20px;
  padding: 30px;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.icon {
  font-size: 28px;
}

.header h2 {
  margin: 0;
}

.header p {
  margin: 5px 0 0;
  color: #cfc9ff;
  font-size: 14px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

.feature {
  background: rgba(255, 255, 255, 0.08);
  padding: 12px 15px;
  border-radius: 12px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.start-btn {
  background: orange;
  border: none;
  padding: 12px 40px;
  border-radius: 25px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}